            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            
            .inter-font {
                font-family: "Inter", sans-serif;
                font-optical-sizing: auto;
            }
            /* nav section */
            
            nav {
                display: flex;
                max-width: 100%;
                margin: 0 auto;
                padding: 1.2rem 2.5rem;
                background-color: #1A0B2E;
                align-items: center;
                justify-content: space-around;
            }
            
            nav span {
                display: inline-block;
                background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
                background-clip: text;
                color: transparent;
            }
            
            nav h3 {
                font-size: 2rem;
                font-weight: 700;
                color: #FFFFFF;
            }
            
            .menu {
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.2rem;
                display: flex;
                list-style: none;
                gap: 1.5rem;
                justify-content: center;
            }
            
            .menu a {
                font-size: 1rem;
                font-weight: 500;
                color: #FFFFFF;
                text-decoration: none;
            }
            
            .btn {
                display: flex;
                font-size: 16px;
                font-weight: 600;
                gap: 0.5rem;
                color: #FFFFFF;
                padding: 0.8rem 1rem;
                border: none;
                cursor: pointer;
                background: linear-gradient(to left, #9100F8, #FB09B4, #F7E93F);
            }
            
            .hamburger {
                display: none;
            }
            /* responsive section */
            
            @media screen and (max-width:576px) {
                .menu-container {
                    display: none;
                }
                .primary-btn {
                    display: none;
                }
                .hamburger {
                    display: block;
                }
                nav {
                    justify-content: space-between;
                }
            }