                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    
                    .inter-font {
                        font-family: "Inter", sans-serif;
                        font-optical-sizing: auto;
                    }
                    /* nav section */
                    
                    nav {
                        display: flex;
                        max-width: 100%;
                        margin: 0 auto;
                        padding: 1.2rem 2.5rem;
                        background-color: #1A0B2E;
                        align-items: center;
                        justify-content: space-around;
                    }
                    
                    nav span,
                    .footer-logo span {
                        display: inline-block;
                        background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
                        background-clip: text;
                        color: transparent;
                    }
                    
                    nav h3,
                    .footer-logo {
                        font-size: 2rem;
                        font-weight: 700;
                        color: #FFFFFF;
                    }
                    
                    .menu {
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 1.2rem;
                        display: flex;
                        list-style: none;
                        gap: 1.5rem;
                        justify-content: center;
                    }
                    
                    .menu a {
                        font-size: 1rem;
                        font-weight: 500;
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                    
                    .btn {
                        display: flex;
                        font-size: 1rem;
                        font-weight: 600;
                        gap: 0.5rem;
                        color: #FFFFFF;
                        padding: 0.8rem 1rem;
                        border: none;
                        border-radius: 1000px;
                        cursor: pointer;
                        background: linear-gradient(to left, #9100F8, #FB09B4, #F7E93F);
                        transition: all 0.4s ease-in-out;
                        background-size: 200% 200%;
                    }
                    
                    .btn:hover {
                        transform: scale(1.05);
                        background-position: right center;
                    }
                    
                    .hamburger {
                        display: none;
                    }
                    /* Banner section */
                    
                    .banner-container {
                        width: 100%;
                        background: url(../assets/hero-bg.png) center/cover no-repeat;
                        margin-top: 0;
                        background-position: center;
                        padding: 6rem 1rem;
                    }
                    
                    .banner,
                    .footer-container {
                        max-width: 100%;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                    }
                    
                    .microphone {
                        width: 22rem;
                        height: 22rem;
                        background: url(../assets/hero-circle.png) no-repeat center/contain;
                        margin: 0 auto 2.5rem auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                    }
                    
                    .microphone img {
                        width: 9rem;
                        height: auto;
                    }
                    
                    .badge {
                        background-color: #00FF88;
                        border-radius: 1000px;
                        width: 3rem;
                        font-size: small;
                        position: absolute;
                        right: 40px;
                        top: 30px;
                    }
                    
                    .micro-content h2 {
                        font-size: 3.5rem;
                        font-weight: 800;
                        color: #FFFFFF;
                        margin-bottom: 1.5rem;
                    }
                    
                    .micro-content p {
                        font-size: 1rem;
                        font-weight: 400;
                        color: #FFFFFF;
                        margin-bottom: 1.5rem;
                        opacity: 0.7;
                    }
                    
                    .btn-group {
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                    }
                    
                    .btn2 {
                        border: 1px solid #00FF88;
                        background: transparent;
                        color: #00FF88;
                    }
                    /* About section */
                    
                    .about {
                        background-color: #1A0B2E;
                        margin: 0 auto;
                        padding: 3rem 12.5rem;
                    }
                    
                    .about-content {
                        text-align: center;
                        color: #FFFFFF;
                    }
                    
                    .about-content h2 {
                        font-size: 3rem;
                        font-weight: 700;
                        margin-bottom: 1rem;
                        text-align: center;
                        text-transform: capitalize;
                    }
                    
                    .about-content p {
                        font-size: 1rem;
                        font-weight: 400;
                        text-align: center;
                        opacity: 0.7;
                        margin-bottom: 80px;
                    }
                    
                    .about-content hr {
                        border: 1px solid #FFFFFF;
                        opacity: 0.7;
                        margin-bottom: 80px;
                    }
                    
                    .about-review {
                        max-width: 80%;
                        display: grid;
                        grid-template-columns: repeat(4, 1fr);
                        gap: 1.5rem;
                        align-items: center;
                        margin: 0 auto;
                        justify-content: center;
                        margin-bottom: 7.5rem;
                    }
                    
                    .status {
                        text-align: center;
                    }
                    
                    .status h2 {
                        font-size: 3rem;
                        font-weight: 900;
                        color: #00FF88;
                    }
                    
                    .status p {
                        font-size: 1rem;
                        font-weight: 400;
                        color: #FFFFFF;
                        opacity: 0.7;
                        text-transform: uppercase;
                    }
                    /* Choose section */
                    
                    .choose {
                        max-width: 100%;
                        padding: 6rem 3rem;
                        background-color: #230E3D;
                        text-align: center;
                    }
                    
                    .choose h2 {
                        color: #FFFFFF;
                        font-size: 3rem;
                        font-weight: 700;
                    }
                    
                    .choose-container {
                        max-width: 1200px;
                        margin: 0 auto;
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        gap: 2rem;
                        margin-top: 3rem;
                    }
                    
                    .card {
                        background-color: rgba(53, 17, 101, 0.4);
                        border-radius: 40px;
                        padding: 2.5rem;
                        text-align: left;
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                        /* align-items: center; */
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                    }
                    
                    .card h5 {
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #FFFFFF;
                        margin-top: 1rem;
                    }
                    
                    .card p {
                        font-size: 1rem;
                        font-weight: 400;
                        color: #FFFFFF;
                        margin-top: 1rem;
                        line-height: 1.5rem;
                        opacity: 0.6;
                    }
                    
                    .audio {
                        grid-row: span 2;
                    }
                    
                    .device {
                        grid-column: span 2;
                    }
                    
                    .location {
                        grid-column: span 2;
                    }
                    
                    .exclusive {
                        grid-column: span 2;
                    }
                    /* feature section */
                    
                    .feature {
                        background-color: #1A0B2E;
                        padding: 5rem 6rem;
                    }
                    
                    .featured-container {
                        max-width: 1200px;
                        margin: 0 auto;
                    }
                    
                    .feature-heading h2,
                    .host-heading h2 {
                        text-align: center;
                        color: #FFFFFF;
                        font-size: 3rem;
                        font-weight: 700;
                        margin-bottom: 2.5rem;
                    }
                    
                    .feature-card {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 1.8rem;
                    }
                    
                    .video-card {
                        background-color: rgba(37, 13, 68, 1);
                        border-radius: 20px;
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    }
                    
                    .video {
                        position: relative;
                        width: 100%;
                        aspect-ratio: 16/9;
                        overflow: hidden;
                        border-radius: 20px 20px 0 0;
                        margin-bottom: 1rem;
                    }
                    
                    .content {
                        padding: 1.5rem;
                    }
                    
                    .video iframe {
                        width: 100%;
                        height: 100%;
                        border: none;
                    }
                    
                    .video-card h4,
                    .host-card h4 {
                        font-size: 1.5rem;
                        font-weight: 700;
                        color: #FFFFFF;
                        margin-bottom: 0.8rem;
                    }
                    
                    .video-card p,
                    .host-card p {
                        font-size: 1rem;
                        font-weight: 400;
                        color: #FFFFFF;
                        opacity: 0.7;
                        margin-bottom: 0.8rem;
                    }
                    
                    .video-card span {
                        font-size: 1rem;
                        font-weight: 500;
                        color: #00FF88;
                        display: flex;
                        align-items: center;
                        gap: 0.3rem;
                    }
                    
                    .host {
                        max-width: 1200px;
                        margin: 6rem auto;
                    }
                    
                    .host-card {
                        display: flex;
                        gap: 1.5rem;
                        background-color: #230E3D;
                        justify-content: space-between;
                        align-items: center;
                    }
                    
                    .host-icon {
                        display: flex;
                        align-items: center;
                        gap: 0.8rem;
                    }
                    /* footer section */
                    
                    .footer {
                        background: url(../assets/footer-bg.png);
                        max-width: 100%;
                        margin: 0 auto;
                        padding: 7.5rem;
                        background-position: center;
                    }
                    
                    .footer-icons {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 2rem;
                        gap: 2rem;
                    }
                    
                    .footer-icons p {
                        display: flex;
                        color: #FFFFFF;
                        gap: 0.8rem;
                        font-size: 1rem;
                        font-weight: 400;
                        opacity: 0.7;
                    }
                    
                    .footer-credit {
                        font-size: 1rem;
                        font-weight: 400;
                        margin-top: 2rem;
                        color: #FFFFFF;
                        opacity: 0.7;
                    }
                    /* responsive section */
                    
                    @media screen and (max-width: 576px) {
                        nav {
                            justify-content: space-between;
                        }
                        nav h3,
                        .card h4 {
                            font-size: 1rem;
                        }
                        .menu-container,
                        .primary-btn {
                            display: none;
                        }
                        .hamburger {
                            display: block;
                        }
                        .about {
                            padding: 40px 20px;
                        }
                        .banner {
                            justify-content: center;
                        }
                        .microphone {
                            width: 16rem;
                            height: 16rem;
                            margin-bottom: 1.5rem;
                        }
                        .microphone img {
                            width: 5rem;
                        }
                        .micro-content h2 {
                            font-size: 2.5rem;
                        }
                        .micro-content p {
                            font-size: 0.8rem;
                            margin-bottom: 1.2rem;
                        }
                        .btn-group {
                            justify-content: center;
                        }
                        .btn,
                        .btn2 {
                            font-size: 0.7rem;
                        }
                        .about-content {
                            padding: 0;
                            text-align: center;
                        }
                        .about-review {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            text-align: center;
                        }
                        .choose {
                            padding: 3rem 1rem;
                        }
                        .audio,
                        .device,
                        .location,
                        .exclusive,
                        .resource {
                            grid-column: span 1;
                            grid-row: span 1;
                        }
                        .feature {
                            padding: 3rem 1rem;
                        }
                        .feature-card,
                        .choose-container {
                            grid-template-columns: 1fr;
                        }
                        .host-card {
                            flex-direction: column;
                            text-align: center;
                            margin: auto;
                        }
                        .host-icon {
                            justify-content: center;
                        }
                        .footer {
                            margin: 0 auto;
                        }
                        .footer-icons {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 2rem;
                            gap: 2rem;
                            flex-wrap: wrap;
                        }
                    }
                    
                    @media screen and (min-width: 577px) and (max-width: 991px) {
                        .feature-card {
                            grid-template-columns: repeat(1, 1fr);
                        }
                        .choose {
                            padding: 3rem 1rem;
                        }
                        .audio,
                        .device,
                        .location,
                        .exclusive,
                        .resource {
                            grid-column: span 1;
                            grid-row: span 1;
                        }
                        .choose-container {
                            grid-template-columns: repeat(1, 1fr);
                        }
                        .host-card {
                            flex-direction: row;
                        }
                    }